.main{

  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100vh
;}

.blackOpacity{
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.388);

}

.signUpPopUp{
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  border-radius: .5rem;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30rem;
  height: auto;
  background-color: rgb(30,37,47);
}
.signUpPopUp>span{
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: .5rem;
  color: white;
  font-weight: 200;
  font-size: 2rem;
}
.signUpPopUp>img{
  display: none;
  width: 3rem;

}
.signUpPopUp input:first-child{
  display: none;
  margin-top: 12rem;
}
.signUpPopUp h3{
  display: block;
  margin-top: 3rem;
  text-align: center;
  font-size: 1.4rem;
  color: white;
  font-family: MontHeavy;
}
.signUpPopUp input{
  border: .1rem solid white;
  color: white;
  border-radius: 1rem;
  background-color: transparent;
  display: block;
  margin: 0rem auto 1rem;
  width: 50%;
  padding: 1rem;

}
.signUpPopUp button{
  cursor: pointer;
  border: none;
  display: block;
  margin: 1rem auto;
  width: 50%;
  padding: .5rem;
  border-radius: 1rem;

}
.blockright{
  padding: 1rem;
  float: right;
  width: 61%;
  height: 100vh;
  background-color: rgb(30,37,47);
}
.blockLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(./backgroundTwitter.png);
  background-size: cover;
  background-position: center center;
  float: left;
  width: 39%;
  height: 100vh;
  background-color: rgb(106, 124, 227);
}
.blockLeft>img{
  justify-content: center;
  display: block;
  width: 30rem;
  height: 23rem;
  transform: rotate(180deg);
 


}
.blockright>img{
  transform: rotate(180deg);
  display: block;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 4rem;
}

.title{
  font-family: MontHeavy;
  color: white;
  font-size: 4rem;
}

.blockright>h2{
  font-size: 2.75rem;
  color: white;
}
.signIn,.signUp{
  font-family: MontHeavy;
  cursor: pointer;
  color: white;
  background-color: rgb(100, 152, 237);
  border-radius: 1rem;

  border: none;
  display: block;
  padding: .65rem;
  width: 10rem;
}
.signIn{
  border: .1rem white solid;
  background-color: transparent;
  color: rgb(100, 152, 237); ;

}
.blockright>p{
  font-family: MontHeavy;
  color: white;
}
